# Data Scientist Interview Offline Exercise

## Instructions
1. Before you begin working on the exercise, be sure to go over the [Data Explanation](#data-explanation) section below. We would advise reading the [Additional Notes](#additional-notes) section as well.
2. The Jupyter notebook `exercise.ipynb` has all the questions (5 in total) for the exercise. You should use the same notebook as the primary space for your answers. The data to be used for answering the questions is in the `touches.sqlite3` file. Make sure to **not** commit your answers to this repo, but instead copy-paste the notebook and the sqlite3 file into a different folder, type your answers in the copied Jupyter notebook and then send the notebook over to the recruiter or upload it to Greenhouse (you do not need to send back or upload the sqlite3 file).
3. You’re welcome to use whatever Python libraries and packages you love. You’re also welcome to write your own Python libraries and modules and import them into the notebook - just make sure to send that extra code in as well.
4. If you’re not confident with your Python skills, write the answers separately in your favorite language - and then send that code as well. Even if you choose this option, use the Jupyter notebook to explain your work and document where to find that code. If your work involves charts and graphs, send them as well and document in the notebook where they are and what they represent. If your work involves SQL queries, you can just write down the query in the notebook in a markdown to show us what you did.
5. Within the Jupyter notebook, make sure to use markdowns and comments liberally to explain what you’re doing and why. We care more about *how* you answer a question than what the correct answer is. We also love good communicators!
6. The 5 questions build up from easy to hard. Please spend the amount of time on it you feel is reasonable. We estimate the first four questions will take 1-2 hours to solve in total. The last question could take anywhere between half-an-hour and several hours depending on how much in depth you want to go with it.
7. **IMPORTANT**: If you're applying for an Associate Data Scientist position, you only need to complete questions 1, 2 and 3. If you're applying for a Senior Data Scientist position, not completing all of the questions will put you at a disadvantage for the next steps.
8. **PRO TIP**: Throughout the exercise, using smarter and more efficient SQL queries than just `"SELECT * FROM <table>;"` will put you at an advantage among candidates.

## Data Explanation
If you're a data scientist, you must have seen the oft-cited Venn diagram with a circle for Math/Stat, another for Programming/Algorithms and a third one for Business Domain. At SalesLoft, we believe you cannot be a good data scientist if you do not make a meaningful effort in understanding the domain. This section is to explain a little bit of the business domain to you, particularly as it pertains to this exercise.

Sellers use our platform to get in touch with their prospective customers. They do that by executing a series of touches (like email, call etc.) to contact people working in companies that they're targeting. Sometimes, the people they are contacting go cold and do not respond at all - they do not reply to emails or pick up phone calls. Sometimes, even if they do respond, they are not the right people and/or do not have leverage. Yet others are interested in the sales pitch they hear and want to move forward. When that happens, an opportunity gets created and the sellers begin understanding the prospective customer's pain points, their business space etc. and evaluate if they fit an ideal customer profile. Simultaneously, they also negotiate on various terms of the contract. When the customer finally signs the contract, the opportunity ends in a "Closed Won" stage, whereas if the deal dies then the opportunity ends in "Closed Lost" (like if negotiations failed or if the company went with a competitor) or "Disqualified" (like if the company did not fit the ideal customer profile).

In the SQLite database we have provided (`touches.sqlite3`), you will find four tables - `companies`, `persons`, `touches` and `opportunities`. Every table has an `id` column that is referenced in some other tables (like the `id` column in `companies` is linked to the `company_id` column in `persons`). You can pretend that this is data from a hypothetical sales team using SalesLoft.
- the `companies` table records all the prospective customer companies that this team has targeted or plans to target in the future
- the `persons` table records information about people working at those companies.
- the `touches` table records information about the various times of contact and types of touches that were scheduled to be executed against people the team is targeting. When the column `status` in the table has the value 'completed', this means that the touch was executed (like email was sent or call was made).
- the `opportunities` table records all the opportunities that this hypothetical sales team has been able to create. When the `latest_stage` column is 'Closed Won', it represents that a deal was successfully signed with that specific company. When the `latest stage` is 'Closed Lost' or 'Disqualified', it represents that the opportunity was in the end unsuccessful. All other values of `latest_stage` indicate that the opportunity is still in flight and still being worked on.

## Additional Notes
The data we are giving you is in the `touches.sqlite3` file. If you are unfamiliar with this type of file format, check out the following:
- You can use an online viewer [SQLite Viewer](https://inloop.github.io/sqlite-viewer/) or a Mac app such as [Sqlite Browser](https://sqlitebrowser.org/) to view the tables in the database, search them etc.
- Some database management tools, such as TablePlus, will happily open that file for you and let you query its tables. This is not super necessary, though, as you can query it through Python.
- If you code in Python but have never used SQLite before, check out [Python's API interface for SQLite databases](https://docs.python.org/3.8/library/sqlite3.html). You can safely use it with [the pandas read_sql function](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html).

# Offline Exercise

This notebook has the questions and instructions for the offline exercise. If you haven't already, please go through the `README.md` file before you begin answering the questions here.

Make sure you do NOT commit your answers back to the repo. Instead, copy-paste this notebook together with the `touches.sqlite3` file to a separate folder in your machine, type your answers in that copied notebook, and when you're done, share the new Jupyter notebook back with the recruiter together with additional modules, graphs etc. that you may have. You would need to use the data in the `touches.sqlite3` file to answer all the questions.

### Question 1. Find the most common industry out of all the companies that were `contacted`.

In [3]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [4]:
from google.colab import drive, files
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [5]:
print ("Files in Drive: ")

# !ls 'gdrive/MyDrive/Colab Notebooks/Udemy/TensorFlow Developer Certificate in 2021: Zero to Mastery'
!ls 'gdrive/MyDrive/Colab Notebooks/Job Exercises/'

Files in Drive:
SalesLoft-exercise.ipynb  touches.sqlite3

In [6]:
def create_connection(db_file):
    """ 
    create a database connection to the SQLite database specified by the db_file
      :param db_file: database file
      :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as error:
        print("Failed to connect to database file - ", error)

    return conn

In [7]:
database = r"/content/gdrive/MyDrive/Colab Notebooks/Job Exercises/touches.sqlite3"

# creating a database connection
conn = create_connection(database)

In [8]:
cur = conn.cursor()

In [10]:
cur.execute("""

SELECT co.id AS CompanyID
	, co.industry
	, COUNT(DISTINCT co.id) AS Record_Count
FROM companies co
INNER JOIN persons p 
	ON p.company_id = co.id
		AND p.job_seniority NOT IN ('Individual Contributor', 'Unknown')
INNER JOIN touches t 
	ON t.person_id = p.id
		AND t.STATUS = 'completed'
WHERE co.industry != ''
GROUP BY co.industry
ORDER BY Record_Count DESC 
LIMIT 0,10;

""")

In [11]:
results = cur.fetchall()
print(results)

[(3139, 'Internet Software & Services', 3502), (1028, 'Professional Services', 999), (2632, 'Consulting', 422), (7897, 'Computer Software', 374), (10068, 'Technology', 359), (8221, 'Media', 271), (8170, 'Financial Services', 260), (2363, 'Internet', 183), (5370, 'IT Services', 87), (14381, 'Finance', 86)]

In [12]:
qry = """

SELECT co.id AS CompanyID
	, co.industry
	, COUNT(DISTINCT co.id) AS Record_Count
FROM companies co
INNER JOIN persons p 
	ON p.company_id = co.id
		AND p.job_seniority NOT IN ('Individual Contributor', 'Unknown')
INNER JOIN touches t 
	ON t.person_id = p.id
		AND t.STATUS = 'completed'
WHERE co.industry != ''
GROUP BY co.industry
ORDER BY Record_Count DESC 
LIMIT 0,10;

"""
# df = pd.read_sql_query("SELECT * from companies", conn)
df = pd.read_sql_query(qry, conn)

# Verify that result of SQL query is stored in the dataframe
# print(df.head(), df.tail(), df.describe())
df.head()

# conn.close()

   CompanyID                      industry  Record_Count
0       3139  Internet Software & Services          3502
1       1028         Professional Services           999
2       2632                    Consulting           422
3       7897             Computer Software           374
4      10068                    Technology           359

In [13]:
print(f"{df.iloc[0][1]} is the most common industry out of all the companies that were contacted.")

Internet Software & Services is the most common industry out of all the companies that were contacted.

In [ ]:
database = r"C:\Users\larry\OneDrive\Documents\My Projects\Work Exercise\job-work-exercise\SalesLoft-Data-Scientist-Exercise\touches.sqlite3"

# creating a database connection
conn = create_connection(database)
with conn:
    print("1. Query task by priority:")
    select_task_by_priority(conn, 1)

    print("2. Query all tasks")
    select_all_tasks(conn)

In [ ]:
def pushtoDB(Name, Mobile, Mail):
  """
  Inserting values into the cerated table
  """
  db = sqlite3.connect("testing.db")
  from datetime import date 
  Date = date.today().strftime("%m-%d-%Y")
  cmd = "INSERT INTO Results(Name, Mobile, Date, Mail) VALUES('{}', '{}', '{}', '{}')".format(Name, Mobile, Date, Mail)
  db.execute(cmd)
  db.commit()

In [ ]:
for i in range(0, len(data)):
  pushtoDB(data.iloc[i][0].data.iloc[i][1].data.iloc[i][2])

In [ ]:
db = sqlite3.connect("testing.db")
qry = """
SELECT * FROM results WHERE Name='TestDemo'
"""
df.pd.read_sql_query(qry, db)
df.head()

In [14]:
cur.close()
conn.close()

### Question 2. What is the most common touch type sellers use when they’re making their first touch with a person? What about first touch with a company?

In [1]:
# !pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.4.25)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/dist-packages (from ipython-sql) (2.2.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.8.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=0.6.7->ipython-sql) (3.7.4.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=1.0->ipython-sql) (0.7.0)

In [1]:
%load_ext sql

In [24]:
%sql sqlite://

'Connected: @None'

In [15]:
database = r"/content/gdrive/MyDrive/Colab Notebooks/Job Exercises/touches.sqlite3"

# creating a database connection
conn = create_connection(database)

In [17]:
cur = conn.cursor()

In [18]:
cur.execute("""

SELECT touch_type, COUNT(touch_type) AS Count FROM (
SELECT ROW_NUMBER() OVER(PARTITION BY t.person_id ORDER BY t.person_id, t.touch_scheduled_on) AS RowNum,
		t.id,
       t.person_id,
       t.touch_scheduled_on,
       t.status, 
       t.touch_type,
       p.company_id,
       p.job_seniority
FROM touches t 
	Inner Join persons p ON p.id = (SELECT p.Id FROM persons p WHERE p.id = t.person_id ORDER BY p.id LIMIT 1)
ORDER BY t.person_id, t.id 
) t
WHERE RowNum = 1
GROUP BY touch_type 
ORDER BY COUNT(touch_type) DESC;

""")

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

OperationalError: ignored

In [16]:
qry2 = """

SELECT touch_type, COUNT(touch_type) AS Count FROM (
SELECT ROW_NUMBER() OVER(PARTITION BY t.person_id ORDER BY t.person_id, t.touch_scheduled_on) AS RowNum,
		t.id,
       t.person_id,
       t.touch_scheduled_on,
       t.status, 
       t.touch_type,
       p.company_id,
       p.job_seniority
FROM touches t 
	Inner Join persons p ON p.id = (SELECT p.Id FROM persons p WHERE p.id = t.person_id ORDER BY p.id LIMIT 1)
ORDER BY t.person_id, t.id 
) t
WHERE RowNum = 1
GROUP BY touch_type 
ORDER BY COUNT(touch_type) DESC;

"""
# df = pd.read_sql_query("SELECT * from companies", conn)
df2 = pd.read_sql_query(qry2, conn)
# conn.execute(qry2)

conn.commit()

# Verify that result of SQL query is stored in the dataframe
# print(df.head(), df.tail(), df.describe())
# df2.head()

# conn.close()

DatabaseError: ignored

### Question 3. Describe the distribution of the job seniorities of people that a seller will first try to contact within a company.

To answer this question, you may use visuals, graphs, bunch of scores, tables, writeups - whatever you want. We literally want you to "describe" the distribution to us in the best way you can!

(Note: this question doesn't really have one right answer. It's more about your style of communicating the results.)

### Question 4. Describe the distribution of the mixture of job seniorities of people that a seller will touch during the entire engagement with a company.
Keep in mind that you get to decide what “mixture” means, so do begin your answer by defining it - and explaining why you think this definition makes sense. Again, feel free to use whatever visuals, graphs, bunch of scores, tables, writeups etc. that you think is appropriate for this question.

(Note: this question doesn't really have one right answer. It's more about your style of communicating the results.)

### Question 5. Build an algorithm that, when a seller is about to contact a company it never reached out to before, recommends the best/optimal mixture of job seniorities (with “mixture” as defined by you in Question 4.) they should be targeting within that company during the entire engagement.

This is the hardest question in this exercise. If you feel you have a good idea what the algorithm should look like but either feel uncomfortable coding-wise or feel pressed for time, it is perfectly OK to describe your idea in words. Be clear, explain both what it does and why you think this is the right approach.

Whether or not you go the code-route or writeup-route, be sure to explain the assumptions and choices you made, why you made them and how you would test them.

(Note: like with the previous two questions, this question doesn't really have one right answer either!)